/* Footer Contact */
  
#contact {
	background-image: url(images/black-laptop.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: var(--bg-color2);
	padding: 100px 0;
	text-align: center;
	height: 100vh;
	width: 100vw;
  
  }
  
  .main-title {
	  -webkit-text-stroke: 1px var(--color1);
	  -webkit-text-fill-color: transparent;
	}
	
	.main-title,
	.hover-title {
	  transition: .5s cubic-bezier(0.51, 0.57, 0.17, 1);
	}
	
	.hover-title {
	  color: var(--color1);
	  position: absolute;
	  transform: translate3d(0, 100%, 0);
	}
	
	.text-wrap:hover .main-title {
	  transform: translate3d(0, -100%, 0);
	  transition-delay: 0.1s;
	}
	
	.text-wrap:hover .hover-title {
	  transform: translate3d(0, 0, 0);
	}
	
  
  .contact-info {
	margin: 30px 0;
  }
  
  .contact-info span,
  .contact-info a {
	color: var(--color2);
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
  }
  
  .contact-info h3 {
	color: var(--color2);
	transition: all 0.3s ease-out 0s;
	cursor: pointer;
  }
  
  .social-link ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
  }
  
  .social-link li {
	margin: 40px 40px;
  }
  
  .social-link li a {
	color: var(--color2);
	font-family: 'Poppins', sans-serif;
	transition: all 0.3s ease-out 0s;
  }
  
  .social-box {
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	color: #fff;
  }
  
  .social-box img {
	font-size: 1em;
	background-color: #18191f;
	color: #fff;
	box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
	  2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
	  inset 2px 2px 10px #00000080;
	border-radius: 6px;
	padding: 5px;
	animation: social 3s linear infinite;
	box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 15px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
  }
  
  .social-box f {
	animation-delay: 0.3s;
  }
  
  .social-box t {
	animation-delay: 0.7s;
  }
  
  .social-box i {
	animation-delay: 1s;
  }
  
  .social-box l {
	animation-delay: 1.3s;
  }
  
  .social-box tl {
	animation-delay: 1.6s;
  }
  
  .social-box g {
	animation-delay: 0.5s;
  }
  
  .social-box y {
	animation-delay: 0.9s;
  }
  
  .social-box tk {
	animation-delay: 0.1s;
  }
  
  @keyframes social {
	from {
	  filter: hue-rotate(0deg);
	}
  
	to {
	  filter: hue-rotate(360deg);
	}
  }
  
  .button-link {
	color: #fff;
	background-color: var(--bg-color2);
	border-style: none;
	position: absolute;
	right: -10px;
	bottom: -20px;
	opacity: 0;
	transition: 1s;
  }
  
  .social-box:hover .button-link {
	opacity: 1;
	width: 5rem;
	height: 1.8rem;
	font-weight: 500;
	bottom: 0;
	background-color: #03e9f4;
	color: #fff;
	border-radius: 6px;
	box-shadow: 0 0 5px #03e9f4,
	  0 0 25px #03e9f4,
	  0 0 50px #03e9f4,
	  0 0 20px #03e9f4;
	-webkit-box-reflect: below 1px linear-gradient (transparent, #0005);
  }
  
  .social-box:hover img {
	opacity: 0;
  }
  
  
  .contact-info h3:hover,
  .social-link li a:hover {
	color: var(--color1);
  }
