#home {
	padding-right: 2rem; 
	background-image: url(/images/color-laptop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--bg-color1);
	height: 100vh;
	width: 100vw;
	object-fit: fill;
	position: relative;
  }
  
  .welcome-msg {
	font-family: 'Poppins', sans-serif;
	color: var(--color1);
	font-weight: 500;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .landing-title {
	color: var(--color1);
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .landing-msg {
	color: var(--color1);
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 2.5rem;
	font-weight: 600;
  }
  
  h1,
  h2 {
	font-family: 'Poppins', sans-serif;
	color: var(--color1);
	font-size: 4rem;
	font-weight: 700;
  }
  
  h3 {
	color: var(--color1);
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
  }
