* {
  box-sizing: border-box;
}

  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #42445A, #B4B9EA, #858688)
  }
      
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .logo a {
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
    margin: .5rem;
  }
  div a span {
    color: red;
  }

  .navbar-links ul {
    padding: 0;
    margin: 0;
    display: flex;
  }

.navbar-links li {
    list-style: none;
  }

.navbar-links li a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  margin: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

a:link {
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

 .description{
    background-image: url(images/monitor.jpg);
    min-width: 100vw;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    display: block;
    top: 30%;
    position: absolute;
    }

  .btn-learn-more a {
    width: 7rem;
    margin-top: 1.4rem;
    margin-right: 1rem;
    background-color: red;
    color: white;
    font-weight: 700;
    padding:6px;
    position: relative;
    right: -50%;
    text-align: center;
    bottom: 4px;
    border-radius: 0.4rem;
    border-color: none;
    display: block;
    cursor: pointer;
  }
  
  .btn-learn-more a:hover{
    background-color: white;
    color: red;
    opacity: 1;
    border-color: none;
    border-radius: 0.4rem;
  }

@media screen and (max-width: 768px) {
  .toggle-button{
    display: flex;
    margin-top: -7px;
  }
  
  .navbar-links {
    display: none;
    width: 100%;
  }
  
  .navbar  {
    background-color: #333;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
    margin: .25rem;
  }
  
  .navbar-links.active { 
    display: flex;
    }
}
