/* Root CSS Variable */

:root:not(.light) {
  --bg-color1: #292929;
  --bg-color2: #1c1c1c;
  --color1: #fff;
  --color2: #888888;
}

/* CSS Globals */

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

#home {
  background-image: url(/design/color-laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-color1);
  height: 100vh;
  width: 100vw;
  object-fit: fill;
  position: relative;
}

.welcome-msg {
  font-family: 'Poppins', sans-serif;
  color: var(--color1);
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-title {
  color: var(--color1);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-msg {
  color: var(--color1);
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 2.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
}

li {
  list-style: none;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  color: var(--color1);
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  color: var(--color1);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

/* Portofolio Wrapper*/

.portofolio-navbar {
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.portofolio-row {
  display: flex;
  flex-wrap: wrap;
}

/* Style for navition */

.portofolio-navbar {
  position: fixed;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1111;
  transition: .8s;
  background-color: var(--bg-color1);
}

header .portofolio-row.header-wrap {
  justify-content: space-between;
  align-items: center;
}

.brand-name a {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color1);
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top: 15px;
  left: 2rem;
}

.navbar-links {
  position: absolute;
  top: -5px;
  right: 1rem;
}

.hamburger i {
  font-size: 20px;

  color: #01143e;
  display: none;
  height: 30px;
  width: 35px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.portofolio-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portofolio-navbar ul li {
  display: inline;
  margin-right: 2rem;
}

.portofolio-navbar ul li a {
  font-size: 1rem;
  line-height: 72px;
  color: var(--color1);
  font-weight: 600;
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  transform: .8s;
}

/* Style for slider */

#about {
  background-image: url(design/dark-laptop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color1);
  height: 100vh;
  width: 100vw;
}

.slider {
  position: relative;
  padding: 150px 10px 50px 10px;

}

.slider-content {
  align-items: center !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.slider-general {
  flex: 0 0 auto;
  width: 60%;
  text-align: center;
}

/* Slider Left Content */

.welcome-text h1 {
  display: inline;
}

.slider-general p {
  max-width: 30vw;
  line-height: 30px;
  font-size: 1.3rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  color: var(--color1);
}


/* Text Hover Effect for Portofolio */

.text-wrap {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  cursor: pointer;
}

#element {
  color: rebeccapurple;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

#element:hover {
  color: red;
  font-size: 2.7rem;
  font-weight: 700;
}

.main-title {
  -webkit-text-stroke: 1px var(--color1);
  -webkit-text-fill-color: transparent;
}

.main-title,
.hover-title {
  transition: .5s cubic-bezier(0.51, 0.57, 0.17, 1);
}

.hover-title {
  color: var(--color1);
  position: absolute;
  transform: translate3d(0, 100%, 0);
}

.text-wrap:hover .main-title {
  transform: translate3d(0, -100%, 0);
  transition-delay: 0.1s;
}

.text-wrap:hover .hover-title {
  transform: translate3d(0, 0, 0);
}


/* Style for Slider Image*/

.slider-image {
  flex: 0 0 auto;
  width: 40%;
}

.welcome-image img {
  margin-top: -3rem;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.slider-image .welcome-image {
  position: relative;
  z-index: 2;
  transition-duration: 0.4s;
}

.slider-image .welcome-image::before {
  content: "";
  width: calc(50% + 10px);
  height: calc(50% + 10px);
  right: -10px;
  bottom: -10px;
  position: absolute;
  z-index: -1;
  transition: all 0.7s;
  background: linear-gradient(to right,
      #12c2e9, #c471ed, #f64f59);
}

.welcome-image:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.welcome-image:hover {
  transform: translateY(-10.5px);
}

/* Download CV Button */

#resume {
  background-image: url(design/cube.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: slateblue;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.download-resume a {
  color: var(--color1);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.download-resume {
  background-color: #FB5656;
  display: inline-block;
  margin-top: 15px;
  padding: 15px 30px;
  position: relative;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease all 0.35s;
  z-index: 1001;
  line-height: 30px;
}

.download-resume::before {
  background-color: #44f;
  top: 0;
  width: 0;
  left: auto;
  right: 0;
  z-index: -1;
  bottom: 0;
  content: "";
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.download-resume:hover::before {
  left: 0;
  width: 100%;
  right: auto;
}

/* background animation */
.area {

  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%
  }
}



/* Footer Contact */

#contact {
  background-image: url(design/black-laptop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color2);
  padding: 100px 0;
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.contact-info {
  margin: 30px 0;
}

.contact-info span,
.contact-info a {
  color: var(--color2);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.contact-info h3 {
  color: var(--color2);
  transition: all 0.3s ease-out 0s;
  cursor: pointer;
}

.social-link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.social-link li {
  margin: 40px 40px;
}

.social-link li a {
  color: var(--color2);
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-out 0s;
}

.social-box {
  width: 30px;
  height: 30px;
  margin: auto;
  position: relative;
  color: #fff;
}

.social-box img {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 6px;
  padding: 5px;
  animation: social 3s linear infinite;
  box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 15px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

.social-box f {
  animation-delay: 0.3s;
}

.social-box t {
  animation-delay: 0.7s;
}

.social-box i {
  animation-delay: 1s;
}

.social-box l {
  animation-delay: 1.3s;
}

.social-box tl {
  animation-delay: 1.6s;
}

.social-box g {
  animation-delay: 0.5s;
}

.social-box y {
  animation-delay: 0.9s;
}

.social-box tk {
  animation-delay: 0.1s;
}

@keyframes social {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.button-link {
  color: #fff;
  background-color: var(--bg-color2);
  border-style: none;
  position: absolute;
  right: -10px;
  bottom: -20px;
  opacity: 0;
  transition: 1s;
}

.social-box:hover .button-link {
  opacity: 1;
  width: 5rem;
  height: 1.8rem;
  font-weight: 500;
  bottom: 0;
  background-color: #03e9f4;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 20px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient (transparent, #0005);
}

.social-box:hover img {
  opacity: 0;
}


.contact-info h3:hover,
.social-link li a:hover {
  color: var(--color1);
}

/* Responsive */

@media screen and (max-width: 700px) {

  h1,
  h2 {
    font-size: 3rem;
  }

  /* Header Rensponsive */

  .portofolio-navbar {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1111;
    flex-direction: column;
    align-items: flex-start;
  }

  .brand-name .logo {
    color: #fff;
    top: 12px;
  }

  .hamburger {
    margin-right: 5px;
  }

  .hamburger i {
    display: flex;
    color: #fff;
  }

  .navbar-links {
    background: rgba(255, 255, 255, 0.2); /* White background with 20% opacity */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
    padding: 20px; /* Padding inside the element */
    
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 15px;
    margin-top: 65px;
    /* border-top: 1px solid #eee; */
    /* border-bottom: 1px solid #eee; */
    display: none;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
    display: block;
  }

  .navbar-links ul li a {
    line-height: 42px;
    color: #01143e;
  }

  .navbar-links ul li:hover {
    background-color: #CAC1C1;
    opacity: 0.6;
    width: 100%;
    border-radius: 10px;
  }


  .navbar-links.active {
    display: flex;
  }

  /* Slider Rensponsive */

  #about {
    height: 120vh;
  }

  .slider-content {
    margin-top: -5rem;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 30px;
  }

  .slider-image {
    margin-top: 0;
    width: 100%;
    order: 1;
  }

  .slider-general {
    margin-top: .5rem;
    width: 100%;
    order: 2;
  }
  
  .slider-general p {
    max-width: 80vw;
  }

}
