
.flip {
  margin-top: 2rem;
  display: flex;
}

.card {
  background-color: #fff;
  border-radius: 1.5rem;
  margin-left: .8rem;
  height: 10rem;
  flex: 1;
  transition: .3s all ease;
}

.card:hover {
  flex: 2;
  background-color: darkblue;
}

.zoom-wrapper {
  margin-top: 4rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  place-self: center;
  overflow: hidden;
  border-radius: 1rem;
}                        

.zoom-wrapper img {
  object-fit: cover;
  transition: transform 0.8s;
  height: 100%;
}

.zoom-wrapper:hover img {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.neon{
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.neon-light {
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.neon-light:hover {
  color: #fff;
  text-shadow: 0 0 0.5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.hvr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  height: 100%;
  position: relative;
  perspective: 800px;
}

.btn-hvr {
  border: none;
  position: relative;
  background: none;
  padding: 30px 80px;
  display: inline-block;
  text-transform: uppercase;
  background: #cc0099;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 800;
  transform-style: preserve-3d;
  outline: none;
  outline: 1px solid transparent;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.btn-hvr:after {
  content: "Button";
  position: absolute;
  padding: 30px 80px;
  z-index: -1;
  transition: all 0.5s ease-out;
  width: 47%;
  height: 50%;
  left: -1%;
  top: -100%;
  background: #990073;
  transform-origin: 0% 100%;
  transform: rotateX(90deg);
}

.btn-hvr:hover {
  transform: translateY(40px) rotateX(-90deg);
}

.spinner  {
  margin: 10rem;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  border-radius: 50%;
  animation: rotation 2s infinite linear;
}

.red  {
  border-right: 4px solid #FFFFFF;
  border-top: 4px solid #F3EEB9;
  border-bottom: .5px solid #FF0000;
}

.green {
  border-right: 4px solid #00CB0F;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 768px){
  .spinner {
    display: block;
  }
}
