*, html, body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100lvw;
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(10px);
  padding: 0 3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.mob-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo img {
  width: 40px;
  margin: 5px 1rem;
  padding: 10px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul li {
  list-style: none;
  padding-right: 1rem;
  /* margin-right: 1rem; */
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: transform 1s;
}

ul li a:hover {
	color: orangered;
}


.hamburger {
  width: 30px;
  height: 21px;
  background: none;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.bar,
.bar::after {
  height: 3px;
  width: 100%;
  background-color: orangered;
  border-radius: 4px;
  transition: 300ms, transition-color 300ms, transform 300ms;
}

.bar::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
}

.hamburger:hover .bar {
  width: 70%;
}

.hamburger:hover .bar::after {
  width: 20%;
}

.hamburger.active .bar::after {
  width: 0;
}

.hamburger.active .bar {
  background-color: red;
}

.hamburger.active .bar:nth-child(1) {
  width: 70%;
  transform: rotate(30deg) translateY(9px) translateX(3px);
}

.hamburger.active .bar:nth-child(2) {
  width: 70%;
  transform: rotate(-30deg) translateY(-9px) translateX(3px);
}


#home {
  height: 100lvh;
  width: 100lvw;
  background: rgb(230, 230, 230);
  margin-top: 59px;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:1rem;
  padding-top: 2rem
}

.left-section {
  margin-left: 1rem;
  /* border: 1px solid blue; */
}

.name {
 color: orangered; 
}

.left-section>h1 {
  font-size: 1.5rem;
  padding: 1rem;
}

.left-section>p {
  line-height: 1.5rem;
  padding: 1rem;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80lvh; */
  /* width: 40lvw; */
  /* border: 1px solid red; */
  position: relative;
}

.back-style {
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: orangered;
  border-radius: 70% 0%  100%  50%;
  position: relative;
  transition: transform 1s;
}


.right-section img {
 width: 90%;
 background: transparent;
 position: absolute;
 /* border: 1px solid yellowgreen; */
 z-index: 1;
 transition: transform 1s;
}

.right-section:hover  .back-style {
  transform: scaleX(-1.1);
}

.right-section img:hover {
  transform: scale(1.2);
}

footer {
  position: fixed;
  width: 100lvw;
  bottom: 0;
  left: 0;
  right: 0;
  
}

footer img {
  width : 40px;
  margin-left: 1rem;
  padding: 8px;
  background: transparent;
  transition: transform .4s;
  z-index: 3;
}

footer img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 650px){
 
 .main {
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   justify-content: space-around;
   gap: 2rem;
 } 
 
 .left-section {
   margin: 4rem 0;
 } 
 
 .right-section>img {
  height: 500px;
  }
  
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mob-view {
    min-width: 100%;
  }
  
  .hamburger {
    display: flex;
    margin-right: 1rem;
  }
  
  .navbar-links {
    display: none;
    height: auto;
    width: 100%;
    margin: 0;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
  }
  
  .navbar-links ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    gap: 20px;
  }
  
  .navbar-links ul li a {
    color: black;
    transition: transform 6s;
  }

  .navbar-links ul li a:hover {
	color: orangered;
  }
  
.navbar-links ul li:hover{
    width: 100%;
    text-align: center;
    margin-inline: auto;
    /* transform: scale(1.2); */
    text-transform: uppercase;
  }
 
  .navbar-links.active {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
 section {
  /*  max-width:900px;
  margin-inline: auto; */
   width: min(100lvh, 100% - 4rem);
   margin-inline: auto;
 }
 
}